name: Cypress Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  cypress-run:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false 
      matrix:
        containers: [1, 2] 
    steps:
      - name: Checkout
        uses: actions/checkout@v4

        
        
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          command: npx cypress run
          start: npm start
          wait-on: 'http://localhost:3000' 
          record: true
          parallel: true 
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}